.-suivi-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.-suivi-container:first-child{
    flex-shrink: 0;
}
.-suivi-container:nth-child(2){
    flex-grow: 1;
    overflow: auto;
}