#login-layout{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {

    #login-layout{
        flex-direction: column;
    }
 }