.-timeline {
    flex:1;
    position: relative;
}

.-timeline-container{
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    list-style: none;
}

.-timeline-item{
    position: relative;
    padding-bottom: 4rem;
    margin-right: 1rem;
}
.-timeline-item:first-of-type{
    margin-top: 3rem;
}
.-timeline-item > p.uk-label{
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: 2;
}

.-timeline-container > li.uk-placeholder{
    margin-top: 2rem;
    cursor: pointer;
}