.-booking-command {
  flex: 1;
  position: relative;
}

.-booking-command-container {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 5%;
  left: 0;
  overflow: auto;
  list-style: none;
}

.-booking-command-item {
  padding-bottom: 1.5rem;
}

.-booking-command-item .uk-label {
  transform: rotate(-90deg);
}

.-booking-command-card {
  border-radius: 0.7rem;
}

.-booking-command-hover-expand {
  transition: opacity 0.5s ease-out;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.-booking-command-item:hover .-booking-command-hover-expand {
  opacity: 1;
  width: auto;
}
