@media screen and (min-height: 700px) and (min-width: 1000px) {
  #app-layout {
    height: 100vh;
  }
}
@media screen and (max-width: 1200px) {
  #login-layout {
    flex-direction: column;
  }
}

#app-layout {
  min-height: 100vh;
}

#login-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.-fullheight {
  height: 100%;
}
.-fullwidth {
  width: 100%;
}

.-flex-1 {
  flex: 1;
}

.-noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  -moz-user-select: none;
  user-select: none; /* Standard syntax */
}

.-pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 3px;
}

.uk-heading-small {
  font-size: 2.5rem;
}

.-no-liststyle {
  list-style: none;
}

.red {
  border: solid 1px red;
}

.blue {
  border: solid 1px blue;
}

.green {
  border: solid 1px green;
}

.-autosuggest input {
  max-width: 100%;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.-autosuggest input:focus {
  outline: 0;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}

.active-area {
  box-shadow: 4px 10px 20px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.-table-input > input {
  text-align: right;
  height: 40px;
  width: 40px;
  padding: 0;
}

.-table-input {
  margin: 0 !important;
  padding: 0 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
