.uk-nav-default > li > a.uk-active {
  color: #333;
  position: relative;
  margin-left: 5px;
}
.uk-nav-default > li > a.uk-active::before {
  content: "";
  width: 3px;
  height: 70%;
  background-color: #39f;
  position: absolute;
  top: 15%;
  left: -5px;
}
.-nav-scroll-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 1rem;
}
.-nav-scroll-container > ul {
  flex-grow: 1;
  overflow: auto;
}

.-nav-padding {
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.-nav-icon {
  width: 128px;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.-wrap-text-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
